<!-- app/views/admin/cells/show.html.erb -->
<%= render layout: "layouts/admin_page" do %>
  <% if controller.get_item&.present? %>
    <div class="row mb-3">
      <%= react_component("RenderCell", { cell: controller.get_item, editing: true, noBorder: true, noHidden: true }) %>
    </div>

    <div class="row mb-3">
      <div class="col-2">
        Section Name:
      </div>
      <div class="col-10">
        <%= controller.get_item.section_name %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-2">
        Cell Name:
      </div>
      <div class="col-10">
        <%= controller.get_item.cell_name %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-2">
        Cell Type:
      </div>
      <div class="col-10">
        <%= controller.get_item.cell_type %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-2">
        Cell Order:
      </div>
      <div class="col-10">
        <%= controller.get_item.cell_order %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-2">
        Description:
      </div>
      <div class="col-10">
        <%= controller.get_item.content %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-2">
        Image:
      </div>
      <div class="col-10">
        <%= controller.get_item.image %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-2">
        Link:
      </div>
      <div class="col-10">
        <%= controller.get_item.link %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-2">
        Formatting:
      </div>
      <div class="col-10">
        <%= raw Utilities.pretty_print_json(controller.get_item.formatting) %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-2">
        Width:
      </div>
      <div class="col-10">
        <%= controller.get_item.width %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-2">
        Content:
      </div>
      <div class="col-10">
        <%= raw(controller.get_item.content) %>
      </div>
    </div>
  <% end %>
  <span class="mb-3">
    <% if @application_user.admin? %>
      <%= link_to("Edit Cell",
                  edit_admin_cell_path(controller.get_item),
                  class:  "btn btn-primary",
                  target: "_self") %>
      <%= link_to("Back to Cells",
                  admin_cells_url,
                  class:  "btn btn-secondary",
                  target: "_self") %>
    <% end %>
  </span>
<% end %>
