<!-- app/views/admin/columns/show.html.erb -->
<%= render layout: "layouts/admin_page" do %>
  <% if controller.get_item&.present? %>
    <div class="row mb-3">
      <%= react_component("RenderColumn", { column: controller.get_item, noBorder: true, noHidden: true }) %>
    </div>

    <div class="row mb-3">
      <div class="col-2">
        Section Name:
      </div>
      <div class="col-10">
        <%= controller.get_item.section_name %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-2">
        Column Name:
      </div>
      <div class="col-10">
        <%= controller.get_item.column_name %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-2">
        Column Type:
      </div>
      <div class="col-10">
        <%= controller.get_item.column_type %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-2">
        Column Order:
      </div>
      <div class="col-10">
        <%= controller.get_item.column_order %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-2">
        Description:
      </div>
      <div class="col-10">
        <%= controller.get_item.content %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-2">
        Image:
      </div>
      <div class="col-10">
        <%= controller.get_item.image %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-2">
        Link:
      </div>
      <div class="col-10">
        <%= controller.get_item.link %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-2">
        Formatting:
      </div>
      <div class="col-10">
        <%= raw Utilities.pretty_print_json(controller.get_item.formatting) %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-2">
        Width:
      </div>
      <div class="col-10">
        <%= controller.get_item.width %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-2">
        Content:
      </div>
      <div class="col-10">
        <%= raw(controller.get_item.content) %>
      </div>
    </div>
  <% end %>
  <span class="mb-3">
    <% if @application_user.admin? %>
      <%= link_to("Edit Column",
                  edit_admin_column_path(controller.get_item),
                  class:  "btn btn-primary",
                  target: "_self") %>
      <%= link_to("Back to Columns",
                  admin_columns_url,
                  class:  "btn btn-secondary",
                  target: "_self") %>
    <% end %>
  </span>
<% end %>
